<!DOCTYPE html>
<html lang="en">
    <head>
        <script src="https://code.jquery.com/jquery.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
        
        <link rel="stylesheet" href="/assets/css/style.css">

        <% include ../partials/header.ejs %>

    </head>

    <body>
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">Mongo Scraper</h1>
                <p class="lead">New York Times Edition</p>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div id="articles" class="col-12">
                        <% if(articles.length != 0) { %>

                            <% for(var i=0; i < articles.length; i++){ %>
                                <div class="card">
                                    <div class="card-header">
                                        <h3>
                                            <a class="article-link" target="_blank" href=<%= articles[i].url %>>
                                                <%= articles[i].headline%>
                                            </a>
                                            <button type="button" class="btn btn-success save" data-article-id=<%= articles[i]._id %>>
                                                Save Article
                                            </button>
                                        </h3>
                                    </div>
                                    <div class="card-body">
                                        <%= articles[i].summary %>
                                    </div>
                                </div>
                            <% } %>
                        
                        <% } else{ %>
                            Uh Oh. Looks like we don't have any new articles.
                        <% } %>
                </div>
            </div>
        </div>
    </body>
    <script src="/js/index.js"></script>
</html>